/* Fonts, colors and background colors */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

.navigation ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navigation a {
    color: white;
}

header,
footer {
    background-color: #1F2927;
}

.hero-main h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-main p,
.hero-main a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8
}

.button,
.call-to-action {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    padding: 5px;
}

.hero-main .button {
    border: 0px;
}

.projects-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2927;
}

.quote-section {
    background-color: #E5E7Eb;
}

.quote-section blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

footer p {
    color: white;
}

header .hero-main-image img,
.projects-section img {
    width: 200px;
    height: auto;
    border: 5px solid #3882F6;
}

.projects-section .project-card img {
    width: 180px;
}

/* Layout Section */

/* --- Header Section --- */
header {
    padding: 10px 200px;
}

header .hero-secondary {
    display: flex;
    justify-content: space-between;
}

header .navigation ul {
    display: flex;
    gap: 10px;
}

header .hero-main {
   display: flex;
   padding: 100px 0px 100px 0px;
   gap: 15px;
}

.hero-main h2 {
    margin: 0px;
}

/*  */

main .projects-section {
    text-align: center;
    padding: 10px 0px 50px;
}
main .projects-section .project-cards {
    display: flex;
    justify-content: space-between;
    padding: 0px 225px;
    gap: 10px;
}

main .project-cards .project-card {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

