/* Fonts, colors and background colors */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

.navigation ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navigation a {
    color: white;
}

header,
footer,
.contact-section {
    background-color: #1F2927;
}

.hero-main h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-main p,
.hero-main a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8
}

.button {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.hero-main .button {
    border: 0px;
}

.projects-section h2,
.contact-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2927;
}

.contact-section h2,
.contact-section h3,
.call-to-action-content h2,
.call-to-action-content p {
    color: white;
}

.quote-section {
    background-color: #E5E7Eb;
}

.quote-section blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-section cite {
    font-weight: bold;
    font-size: 28px;
}

.call-to-action-content {
    background-color: #3882F6;
    border-radius: 10px;
}

footer p {
    color: white;
}

header .hero-main-image img,
.projects-section img,
.contact-section img {
    width: 200px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.projects-section .project-card img,
.contact-section img {
    width: 180px;
}

/* Layout Section */

/* --- Header Section --- */
header {
    padding: 10px 200px;
}

header .hero-secondary {
    display: flex;
    justify-content: space-between;
}

header .navigation ul {
    display: flex;
    gap: 10px;
}

header .hero-main {
   display: flex;
   padding: 100px 0px 100px 0px;
   gap: 15px;
}

.hero-main h2 {
    margin: 0px;
}

/* Projects and Contact Section */

.projects-section,
.contact-section {
    text-align: center;
    padding: 10px 0px 50px;
}
.projects-section .project-cards,
.contact-section .contact-cards {
    display: flex;
    justify-content: space-between;
    padding: 0px 225px;
    gap: 10px;
}

.project-cards .project-card,
.contact-cards .contact-card {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.contact-cards .contact-card {
    gap: 10px;
}

/* Quote Section */

.quote-section {
    padding: 50px 250px;
}

/* Call to Action Section */

.call-to-action .call-to-action-content {
    display: flex;
    padding: 50px 100px;
    margin: 50px 200px;
    justify-content: space-between;
}

.call-to-action p,
.call-to-action h2 {
    margin: 0px;
}

.call-to-action .call-to-action-button {
    display: flex;
    align-items: center;
}

/* Footer section */

footer {
    text-align: center;
    padding: 10px;
}
